.type{
    &--center{
        text-align: center;
    }
    &--right{
        text-align:right;
    }
}

.padding{
    &--top{
        &-sm{
            margin-top: 20px;
        }
        &-md{
            margin-top: 40px;
        }
    }
}
